.about-page-main-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: #141217;
}

.about-details-rect {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 25%;
    height: 50%;
    background-color: #232227;
    border-radius: 5px;
    z-index: 5;
}

.about-details-rect>h3 {
    color: #bea200;
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 250%;
    font-weight: 900;
}

.about-details-rect>.main-para {
    color: #b9b9b9;
    position: absolute;
    top: 40%;
    font-size: 70%;
    left: 15%;
    right: 15%;
}

.about-details-rect>.second-para {
    color: #b9b9b9;
    position: absolute;
    top: 68%;
    font-size: 70%;
    left: 15%;
    right: 15%;
}

.learn-more {
    color: #bea200;
    position: absolute;
    top: 85%;
    font-size: 70%;
    left: 15%;
    right: 15%;
}

.about-page-main-img {
    position: absolute;
    width: 35%;
    height: 50%;
    top: 30%;
    left: 25%;
    z-index: 3;
}

.about-background-img {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 40%;
    left: 35%;
}

.about-background-img-2 {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 10%;
    left: 15%;
}