.contact-page-main-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 780%;
    background-color: #141217;
}

.contact-froms-div {
    position: absolute;
    width: 30%;
    height: 60%;
    background-color: blue;
    left: 20%;
}

.name-form-div>.name-form {
    position: absolute;
    width: 100%;
    height: 8%;
}