.dishes-page-main-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 300%;
    background-color: #141217;
}

.dish-back-img {
    position: absolute;
    right: 0%;
    width: 50%;
    height: 100%;
}

.dish-2nd-black-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(20, 18, 23);
    background: -moz-linear-gradient(62deg, rgba(20, 18, 23, 1) 50%, rgba(20, 18, 23, 0.4682247899159664) 100%);
    background: -webkit-linear-gradient(62deg, rgba(20, 18, 23, 1) 50%, rgba(20, 18, 23, 0.4682247899159664) 100%);
    background: linear-gradient(62deg, rgba(20, 18, 23, 1) 50%, rgba(20, 18, 23, 0.4682247899159664) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141217", endColorstr="#141217", GradientType=1);
}

.dishes-page-main-rect>h3 {
    color: #ffffff;
    font-size: xx-large;
    font-weight: 900;
    position: absolute;
    left: 32%;
    top: 20%;
}

.card-header-div {
    color: #ffffff;
    position: absolute;
    width: 40%;
    display: flex;
    top: 35%;
    left: 10%;
}

.card-header-div>h5 {
    padding: 20px;
}

.card-header-div>h5:hover {
    color: #bea200;
}