@import url('https://fonts.googleapis.com/css2?family=Habibi&family=MonteCarlo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Train+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

.home-page-main-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.image-div>img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.black-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000e0;
}

.welcome-para {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: #ffffffab;
    position: absolute;
    left: 34%;
    top: 22%;
    letter-spacing: 1vw;
}

.details-div>h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    color: #bea200;
    font-size: 70px;
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1vw;
}

.main-para-home-page {
    color: #ffffff;
    font-family: "Habibi", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 45%;
    letter-spacing: 0.3vw;
    left: 24%;
    right: 24%;
    text-align: center;
}

.details-div>button {
    position: absolute;
    top: 70%;
    left: 0%;
    right: 0%;
    bottom: 22%;
    margin: auto;
    width: 170px;
    overflow: hidden;
    border: 3px solid #bea200;
    color: #bea200;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #38353500;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.details-div>button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
    color: black;
}

.details-div>button span:last-child {
    color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    /* color: black; */
}

.details-div>button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bea200;
    color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 1;
}

.details-div>button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    color: black;
}

.details-div>button:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    color: black;
}

.open-hours {
    font-weight: bold;
    position: absolute;
    color: rgb(146, 146, 146);
    top: 57%;
    left: 38%;
}

.location {
    font-weight: bold;
    position: absolute;
    color: rgb(146, 146, 146);
    top: 57%;
    left: 54%;
}

.time-img {
    position: absolute;
    top: 56.5%;
    left: 35%;
    width: 25px;
    height: 25px;
}

.location-img {
    position: absolute;
    top: 56.5%;
    left: 51%;
    width: 25px;
    height: 25px;
}