.ingredients-page-min-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 400%;
    background-color: #141217;
}

.ingrieant-back-img {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
}

.ingredient-2nd-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(20, 18, 23);
    background: -moz-linear-gradient(62deg, rgba(20, 18, 23, 0.42620798319327735) 0%, rgba(20, 18, 23, 1) 45%);
    background: -webkit-linear-gradient(62deg, rgba(20, 18, 23, 0.42620798319327735) 0%, rgba(20, 18, 23, 1) 45%);
    background: linear-gradient(62deg, rgba(20, 18, 23, 0.42620798319327735) 0%, rgba(20, 18, 23, 1) 45%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141217", endColorstr="#141217", GradientType=1);
}

.ingredients-page-min-rect>h3 {
    color: #ffffff;
    font-size: xx-large;
    font-weight: 900;
    position: absolute;
    left: 39%;
    top: 20%;
}

.ingredients-page-min-rect>p {
    color: #b9b9b9;
    position: absolute;
    top: 28%;
    left: 20%;
    right: 20%;
    text-align: center;
}