.ingredients-page-min-rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 400%;
    background-color: #141217;
}

.ingrieant-back-img {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
}

.ingredient-2nd-div {
    position: absolute;
    width: 100%;
    height: 100%;
}